*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #DFF6FF;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;

}
.logo{
    text-decoration: none;
    color: #1363DF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    text-decoration: none;
    color: #1363DF;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5em;
    padding-left: 40px;
}
.navigation a:hover{
    color: #47B5FF;
}
img{
    width: 500px;
}